html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// Buttons
.btn,
.widget-button {
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    color: #333;
    transition: none;

    &:focus {
        outline: none;
    }

    .divider {
        display: inline-block;
        height: 1em;
        width: 0;
        border-left: 1px solid;
        margin: 2px 5px;
        vertical-align: top;
        transition: border-color .3s;
    }

    &:hover {
        color: #333;
        background-color: #ddd;
        background-image: -webkit-linear-gradient(#eee, #ddd);
        background-image: linear-gradient(#eee, #ddd);
        border-color: #ccc;
    }

    &.btn-danger {
        color: #900;

        &:hover {
            color: #fff;
            background-color: #b33630;
            background-image: -webkit-linear-gradient(#dc5f59, #b33630);
            background-image: linear-gradient(#dc5f59, #b33630);
            border-color: #cd504a;
        }
    }

    &.btn-primary {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
        background-color: #60b044;
        background-image: -webkit-linear-gradient(#8add6d, #60b044);
        background-image: linear-gradient(#8add6d, #60b044);
        border-color: #5ca941;

        &:hover {
            color: #fff;
            background-color: #569e3d;
        	background-image: -webkit-linear-gradient(#79d858, #569e3d);
        	background-image: linear-gradient(#79d858, #569e3d);
        	border-color: #4a993e;
        }
    }

    &.btn-social {
        &,
        &:hover {
            color: #fff;
            border: 0;
        }

        &.google,
        &.google_oauth2 {
            background: $google;
        }

        &.instagram {
            background: $instagram;
        }

        &.facebook {
            background: $facebook;
        }

        &.cas {
            background: $cas;
        }

        &.twitter {
            background: $twitter;
        }

        &.yahoo {
            background: $yahoo;
        }

        &.github {
            background: $github;
        }
    }
}

.d-editor-button-bar .btn {
    color: #919191;
    background: none;
    border: 0;

    &:hover {
        background: #e9e9e9;
        border: 0;
    }
}

#login-link,
#new-account-link {
    &.btn-large {
        padding-left: 18px;
        background-color: #60b044;
        background-image: -webkit-linear-gradient(#8add6d, #60b044);
        background-image: linear-gradient(#8add6d, #60b044);
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}

.topic-list button.bulk-select {
    border: 0;
}

// Inputs
body {
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    textarea {
        color: #333;
    	border: 1px solid #ddd;
    	border-radius: 3px;
    	outline: none;
    	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
        transition: border-color .2s;

        &:focus {
            background-color: #fff;
            border-color: #51a7e8;
        	outline: none;
        	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
        }
    }
}

// Navigation
.nav-pills {
    > li {
        > a {
            color: #7a7a7a;
            border-radius: 3px;

            &:hover {
                background-color: #f9f9f9;
                color: #7a7a7a;

                .fa {
                    color: #7a7a7a;
                }
            }
        }

        &.active > a,
        > a.active  {
            background-color: #4078c0;
            color: #fff;

            .fa {
                color: #fff;
            }
        }
    }
}

.admin-controls .nav.nav-pills li.active a {
    color: #fff;
}

.alert {
    border-radius: 3px;
}

.inline-label {
    display: inline-block;
    padding: 0;
    margin: 0 10px;
}

.d-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: none;

    .contents {
        margin: 4px 0;

        > .title,
        > .panel {
            margin-top: 4px;
        }

        .topic-link {
        	font-weight: normal;
        }
    }
}

.select2-container {
    border: 0!important;
    box-shadow: none;

    &.select2-dropdown-open {
        margin-bottom: 0;
    }

    a.select2-choice {
        border: 1px solid #d5d5d5;
        background-color: #eee;
        background-image: -webkit-linear-gradient(#fcfcfc, #eee);
        background-image: linear-gradient(#fcfcfc, #eee);
        color: #333;
        transition: none;
        box-shadow: none;

        &:hover {
            color: #333;
            background-color: #ddd;
            background-image: -webkit-linear-gradient(#eee, #ddd);
            background-image: linear-gradient(#eee, #ddd);
            border-color: #ccc;
        }
    }
}

.select2-drop-active {
    border-color: #d5d5d5;
    background: #eee;
}

.select2-results .select2-highlighted {
    background: #ddd;
    border-radius: 3px;
}