.discourse-tag.box {
    position: relative;
	display: inline-block;
	padding: 3px 5px;
	font: 12px/14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
	color: #336479;
	white-space: nowrap;
	background-color: #e8f0f8;
	border-radius: 3px;
    transition: background-color .2s;

    &:hover {
        background: #e6f1f6;
    }
}