.topic-post {
    .topic-body {
        border-bottom: 1px solid #e9e9e9;
        padding-left: 0;
        padding-right: 0;

        .contents {
            font-size: 15px;
        }
    }

    &:last-child .topic-body {
        border-bottom: 0;
    }

    .topic-meta-data {
        .post-info {
            float: left;

            &:after {
            	content: '·';
            	position: relative;
                display: inline-block;
            	text-align: center;
            	width: 15px;
            }
        }

        div:nth-last-child(2) {
            &:after {
                display: none;
            }
        }
    }

    .post-menu-area {
        margin-top: 10px;
        margin-bottom: 0;

        .post-controls .actions {
            float: none;
            display: block;

            .widget-button {
                font-size: 1em;
                padding: 4px 10px;
                border-radius: 3px;
                outline: none;
                color: #999;
                font-size: 13px;

                &.btn {
                    font-weight: 500;
                    border: 1px solid #bbcadc;
                    background-color: #f1f8fb;
                    color: #2b6dad;
                    transition: border-color .3s, background-color .3s, color .3s;

                    &:hover {
                        background-color: #f1f8fb;
                        border-color: #2865a1;
                        color: #2865a1;

                        .divider {
                            border-color: #2865a1;
                        }
                    }

                    .divider {
                        display: inline-block;
                        height: 1em;
                        width: 0;
                        border-left: 1px solid #bbcadc;
                        margin: 2px 5px;
                        vertical-align: top;
                        transition: border-color .3s;
                    }
                }

                &.delete:hover {
                    color: #fff;
                }

                &.text {
                    padding-left: 0;
                    padding-right: 0;
                    font-weight: 400;

                    &:active {
                        box-shadow: none;
                    }

                    &.d-hover,
                    &:hover {
                        background: transparent;
                        color: #999;

                        &.counter .text {
                            text-decoration: underline;
                        }

                        &:not(.counter) {
                            text-decoration: underline;
                        }
                    }
                }


                &.reply,
                &.rating,
                &.share,
                &.comments {
                    float: left;
                    margin: 0 12px 0 0;
                }

                .counter {
                    padding: 1px 4px;
                	background: #eee;
                	border-radius: 2px;
                	margin-left: 4px;
                }
            }
        }
    }
}

.post-author {
    overflow: hidden;

    .topic-avatar {
        width: 40px;
        height: 40px;
        padding-top: 0;
        border-top: 0;

        img.avatar {
            width: 40px;
            height: 40px;
        }
    }

    .names {
        float: left;
        margin-left: 10px;

        span {
            display: block;
        }

        .full-name {
            font-size: 15px;
        }
    }
}

.topic-post .embedded-posts {
    position: relative;
    font-size: 13px;
    padding: 8px;
    margin-top: 8px;
    background: #f6f6f6;
    border: 1px solid #e2e2e2;
    border-radius: 2px;

    .row {
        padding: 8px 0;
    }

    .topic-body {
        width: 100%;
        padding: 0 0 0 30px;
        border: 0;
        overflow: visible;

        .topic-avatar {
            width: 25px;
            margin-left: -30px;
            padding: 0;
            border: 0;

            img.avatar {
                width: 25px;
                height: 25px;
            }
        }

        .names {
            float: none;
            line-height: 14px;
        }

        .cooked {
            margin-top: 5px;
        }

        .post-menu-area {
        	margin: 0;
        	float: left;
        }

        .actions .widget-button {
            padding: 0;
            margin: 0;
            font-size: 1em;
            float: left;

            &:after {
            	content: '·';
            	position: relative;
            	display: inline-block;
            	text-align: center;
            	width: 15px;
            }

            &:hover,
            &.d-hover {
                background: none;
                text-decoration: underline;
                color: #999;
            }

            &.share,
            &.show-more-actions,
            &.create-flag,
            &.bookmark,
            &.toggle-like,
            &.share,
            &.comments,
            .fa,
            .read-icon {
                display: none;
            }

            &.edit:before {
                content: 'Edit';
            }

            &.delete {
                &:before {
                    content: 'Delete';
                }

                &:hover {
                    color: #999;
                }
            }

            &.recover:before {
                content: 'Recover';
            }

            &.show-post-admin-menu:before {
                content: 'Admin';
            }
        }

        .post-date {
            color: #999;
            line-height: 18px;
            vertical-align: top;
            display: inline-block;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .widget-button.reply {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
    }
}

#topic-title h1 {
    width: 100%;
    margin-top: 10px;
}

.badge-wrapper.bullet {
    align-items: flex-start;
    padding-top: 1px;

    .badge-category-bg {
        width: 16px;
        height: 16px;
        border-radius: 3px;

        &:before {
            display: none;
        }
    }

    .badge-category {
        font-size: 1.1em;
        line-height: 16px;
    }
}

.solutions-count {
    color: #333;
    font-weight: 500;
    font-size: 18px;
    margin-top: 40px;
}