.topic-meta-data {
  float: right;
  margin: 0;
  padding: 8px;
  background: blend-primary-secondary(5%);

  #post_1 & {
    background: blend-primary-secondary(5%);
  }

  .post-info {
    float: left;
  }

  .post-meta {
  	overflow: hidden;
  	padding-bottom: 8px;
  	position: relative;

    > div {
      margin-right: 8px;
      margin-left: 0;
      float: left;
    }

    .read-state {
      position: static;
      top: 0;
      float: left;
    }
  }
}

.post-author {
  .topic-avatar {
    border-top: none;
    padding-top: 0;
    margin-right: 8px;
    width: 30px;

    img.avatar {
      width: 30px;
      height: 30px;
      border-radius: 0;
    }
  }

  .names {
    margin-top: 4px;
  }
}

.embedded-posts {
  clear: both;

  .reply {
    margin-top: 0;

    .topic-meta-data {
      font-size: 12px;
      float: right;
      padding: 0;
      background: none;

      > div {
        margin: 0 0 0 8px;
      }

      .names span {
        padding: 0;
      }

      .reply-to-tab {
        display: none;
      }
    }

    .topic-avatar {
      width: 30px;
      padding-top: 8px;
      padding-left: 8px;

      img.avatar {
        width: 30px;
        height: 30px;
      }
    }

    .topic-body {
      padding: 8px 8px 0 8px;
      width: 100%;
      overflow: visible;
      box-sizing: border-box;

      .cooked {
        margin-top: 8px;
        font-size: 12px;

        p {
          margin: 8px 0;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    .post-menu-area {
      margin-top: 0;
      margin-bottom: 0;
      float: left;
    }

    nav.post-controls {
      button {
        font-size: 12px;
      }
    }

    .widget-button {
      &.show-replies,
      &.share,
      &.create-flag,
      &.bookmark {
        display: none;
      }
    }
  }

  .time-gap + .topic-post & .topic-body {
    border-top: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
  }
}

