.topic-list-order {
    width: 100%;
    border-collapse: separate;
	border-spacing: 4px 0;
    margin-bottom: 10px;

    th {
        display: none;
        padding: 5px 0;
        margin: 0;

        &.sortable {
            display: table-cell;
            width: auto;
            text-align: center;
            border-radius: 3px;
            padding: 5px 10px;
            white-space: nowrap;

            &.sorting {
                background-color: #4078c0;
                color: #fff;
            }
        }

        &.default,
        &.star {
            display: table-cell;
            width: 100%;
            padding-left: 0;
            color: transparent;
        }

        &.star {
            width: 20px;
        }
    }

    #suggested-topics & {
        display: none;
    }
}

.topic-list-item {
    padding-top: 20px;

    table.topic-list-order + & {
        padding-top: 0;
    }

    a.title {
        &,
        &.visited:not(.badge-notification) {
            font-size: 24px;
            color: #333;
            letter-spacing: -0.5px;
        	line-height: 1.25;
        	font-weight: normal;
        }
    }

    .title-wrapper {
        overflow: hidden;

        > h1 {
           width: 100%;
           padding-bottom: 10px;
           clear: both;
           margin: 0;
       }
    }

    .bulk-select {
        float: left;
        margin: 5px 10px 0 0;
    }

    .badge-wrapper.bullet {
        float: left;
    }

    .topic-post {
        padding-left: 0;

        .topic-body {
            .contents:not(.full) .cooked {
                display: inline;
                margin-right: 4px;

                p, b, i, strong, em {
                    display: inline;
                }
            }

            &:after,
            &:before {
                display: none;
            }
        }
    }

    .topic-body-header {
        overflow: hidden;

        .post-author {
            .topic-avatar {
        		margin-right: 10px;
                position: static;
                left: 0;
        	}

        	.names {
        		float: none;
        	}
        }

        .post-date {
            font-size: 12px;
        	color: #767676;
        }
    }
}

.topic-list-item-post.best-solution > h3 {
    font-weight: 500;
	font-size: 18px;
	margin: 0;
}