.list-controls {
    .btn {
        float: left;
        margin: 5px 5px 0 0;
    }

    .category-breadcrumb,
    .nav-pills {
    	margin: 0;

        > li, > li.bullet {
            margin: 5px 5px 0 0;
            border-radius: 3px;
            overflow: hidden;
            border: 1px solid #d5d5d5;
            background-color: #eee;
            background-image: -webkit-linear-gradient(#fcfcfc, #eee);
            background-image: linear-gradient(#fcfcfc, #eee);
            color: #333;
            border-radius: 3px;
            overflow: hidden;

            > a {
                font-size: 14px;
                color: #222;
            }

            &:hover {
                color: #333;
                background-color: #ddd;
                background-image: -webkit-linear-gradient(#eee, #ddd);
                background-image: linear-gradient(#eee, #ddd);
                border-color: #ccc;
            }

            > .badge-category {
                background-color: transparent!important;
            }
        }
    }

    .notification-options.tag-notification-menu {
    	float: left;
    	margin: 0;
        padding: 0;
    	clear: none;
    }
}

.topic-list-item {
    border-bottom: 1px solid #e2e2e2;
}

.topic-list-item-post {
    .topic-post {
        padding-bottom: 0;

        article {
            border: none;
        }

        .post-date {
        	margin: 5px 0 0;
        	display: inline-block;
        }
    }

    &.best-solution {
        > h3 {
            margin: 0 0 10px;
        }

        article {
            padding: 0;
        }
    }
}