.topic-post {
    .rating_box {
        width: 30px;
        padding-top: 20px;
    }

    .rating_box__button {
        width: 16px;
        height: 12px;
        margin: 8px auto;
    }

    .rating_box__button--up:before {
        border-width: 0 8px 12px;
    }

    .rating_box__button--down:before {
        border-width: 12px 8px 0;
    }

    .rating_box__count {
        width: 70px;
        font-size: 18px;
    }

    .boxed .contents {
        overflow: hidden;
        clear: none;
        padding-left: 8px;
    }
}

.embedded-posts {
    .reply {
        .topic-body {
            border-top: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
        }

        .topic-meta-data {
            margin-top: 8px;
        }
    }
}