.topic-post article {
	border: 0;
	padding: 0;
}

.topic-body-header {
	overflow: hidden;

	.topic-avatar {
		margin-right: 10px;
		padding: 0;

		img {
			border-radius: 3px;
		}
	}

	.names {
		float: none;
	}

	.topic-meta-data {
	    margin-left: 0;

		.post-info {
			font-size: 12px;
		}
	}
}

nav.post-controls button {
	font-size: 1.143em;
	padding: 8px 10px;
	vertical-align: top;
	background: transparent;
	border: none;
	margin-left: 3px;
}

.secondary-actions {
	overflow: hidden;
	width: 100%;
	padding-top: 5px;

	.embedded-posts & {
		width: auto;
		padding: 0;
	}
}

.post-controls {
    position: relative;

    .post-admin-menu {
        top: 69px;
        left: 0;
        bottom: auto;
    }

	.embedded-posts & .post-admin-menu {
		top: 35px;
	}
}