.topic-list-item {
    width: $topic-body-width;

    @media(max-width: 870px) {
        box-sizing: border-box;
        width: 100%;
    }

    .topic-post .topic-body {
        width: 100%;
    }
}

.list-controls {
    float: left;
    width: 180px;
    margin-right: 20px;

    .category-breadcrumb {
        float: none;
        margin: 0;

        > li.bullet {
            float: none;
            margin: 0 0 10px 0;
            border: 1px solid #d5d5d5;
            background-color: #eee;
            background-image: -webkit-linear-gradient(#fcfcfc, #eee);
            background-image: linear-gradient(#fcfcfc, #eee);
            color: #333;
            border-radius: 3px;
            overflow: hidden;

            &:hover {
                color: #333;
                background-color: #ddd;
                background-image: -webkit-linear-gradient(#eee, #ddd);
                background-image: linear-gradient(#eee, #ddd);
                border-color: #ccc;
            }

            > .badge-category {
                background-color: transparent!important;

                &:first-child {
                    width: calc(100% - 40px);
                }

                .badge-category-bg {
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    margin: 2px 2px 2px 0;
                    border-radius: 3px;
                    vertical-align: top;
                }
            }
        }
    }

    .category-dropdown-menu {
        border-top: 0;
        border-radius: 0 0 3px 3px;
        margin: 1px 2px;
    }

    .nav-pills {
        float: none;
        margin: 0 0 10px 0;
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        background: #fff;
        overflow: hidden;

        > li {
            float: none;
            margin: 0;

            &:not(:first-child) {
                border-top: 1px solid #eee;
            }

            > a {
                color: #2b6dad;
                padding: 8px 10px;
                border-left: 3px solid transparent;
                border-radius: 0;
                font-size: 14px;

                &:hover {
                    background-color: #f9f9f9;
                }
            }

            &.active > a {
                background-color: #fff;
                border-left-color: #d26911;
                color: #333;
                font-weight: bold;
            }
        }
    }

    .btn {
        float: none;
        width: 100%;
        font-size: 1em;
        text-align: center;
        margin-left: 0;

        .fa {
            margin-right: 0;
        }
    }

    .category-notification-menu .dropdown-menu {
        left: 0;
        right: auto;
    }

    .notification-options.tag-notification-menu {
        float: none;
        margin: 0;
    }

    #list-area & .tag-show-heading {
        margin: 3px 0 20px;
    }
}

.list-container {
	overflow: hidden;
}