.rating-box,
.topic-body:first-of-type {
  border-top: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
}

section.post-menu-area {
  float: left;
  position: static;

  .actions .widget-button {
    padding: 0 8px 0 0;
    margin: 0;
    font-size: 1em;
    text-transform: lowercase;

    &:hover,
    &.d-hover {
      background: none;
      color: #222;
    }

    &.share:after {
      content: 'share';
    }

    &.edit:after {
      content: 'edit';
    }

    &.show-more-actions:after {
      content: 'more';
    }

    &.create-flag:after {
      content: 'flag';
    }

    &.bookmark:after {
      content: 'bookmark';
    }

    &.delete:after {
      content: 'delete';
    }

    &.recover:after {
      content: 'recover';
    }

    &.show-post-admin-menu:after {
      content: 'admin';
    }

    &.toggle-like {
      &:after {
        content: 'like';
      }

      &.has-like:after {
        content: 'unlike';
      }
    }

    .fa,
    .read-icon {
      display: none;
    }
  }
}

.topic-post {
  .topic-body {
    padding-bottom: 56px;

    .cooked {
      font-size: 15px;
    }
  }

  .reply .topic-body {
    padding-bottom: 0;
  }

  .widget-button.reply {
    position: absolute;
    left: 11px;
    bottom: 20px;
  }

  &:not(.rating) {
    .embedded-posts {
      margin-left: 25px;
    }

    .widget-button.reply {
      left: 36px;
    }

    &.no-replies {
      .widget-button.reply {
        position: static;
        left: 0;
      }
    }
  }

  &:first-child:last-child {
    .topic-body {
      padding-bottom: 15px;
    }

    .reply .topic-body {
      padding-bottom: 0;
    }

    .widget-button.reply {
      display: none;
    }
  }
}

.time-gap.small-action {
  .topic-avatar {
    display: none;
  }

  .small-action-desc.timegap {
    padding-left: .5em;
  }
}

.who-liked {
  text-align: left;
}


.embedded-posts {
  border-bottom: 1px solid dark-light-diff($primary, $secondary, 90%, -65%);
  margin-right: -10px;
}