.wrap {
    padding-left: 12px;
    padding-right: 12px;
}

.topic-post {
    width: $topic-body-width;
    padding-left: 60px;

    @media(max-width: 870px) {
        box-sizing: border-box;
        width: calc(100% - 62px);
    }

    .topic-avatar {
        border-top: none;

        img {
            border-radius: 3px;
        }
    }

    .post-author .topic-avatar {
        position: absolute;
        top: 0;
        left: -60px;
        margin: 0;
        padding: 0;
        width: 45px;
    }

    .topic-body {
        width: 100%;

        &:after,
        &:before {
            position: absolute;
            top: 11px;
            right: 100%;
            left: -16px;
            display: block;
            width: 0;
            height: 0;
            pointer-events: none;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
        }

        &:after {
            margin-top: 1px;
            margin-left: 2px;
            border-width: 7px;
            border-right-color: #f7f7f7;
        }

        &:before {
            border-width: 8px;
            border-right-color: #ddd;
        }
    }

    .embedded-posts {
        .topic-body {
            &:after,
            &:before {
                display: none;
            }
        }
        .post-admin-menu {
            right: auto;
            left: 0;
        }

        .post-buttons-dropdown {
            display: none;
        }

        .topic-body .actions .widget-button {
            .fa,
            .read-icon {
                display: none;
            }

            &.edit:before {
                content: 'Edit';
            }

            &.delete {
                &:before {
                    content: 'Delete';
                }

                &:hover {
                    color: #999;
                }
            }

            &.recover:before {
                content: 'Recover';
            }

            &.show-post-admin-menu:before {
                content: 'Admin';
            }
        }
    }

    .post-buttons-dropdown {
        position: absolute;
        width: 200px;
        top: 40px;
        right: 18px;
        background: #f6f6f6;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        z-index: 10;

        .widget-button {
            background: none;
            border: 0;
            width: 100%;
            height: 30px;
            font-size: 13px;
            line-height: 19px;
            color: #2b6dad;
            margin: 0;
            padding: 5px 15px 6px 24px;
            transition: background-color .2s;
            text-align: left;
            font-weight: 400;
            outline: none;
            box-shadow: none;

            &:hover {
                color: #2b6dad;
                background-color: #dfeffa;
            }

            .fa,
            .read-icon {
                display: none;
            }

            &.share:after {
                content: 'Share';
            }

            &.edit:after {
                content: 'Edit';
            }

            &.create-flag:after {
                content: 'Flag';
            }

            &.bookmark:after {
                content: 'Bookmark';
            }

            &.delete:after {
                content: 'Delete';
            }

            &.recover:after {
                content: 'Recover';
            }

            &.show-post-admin-menu:after {
                content: 'Admin';
            }
        }
    }
}